RewriteEngine On
RewriteBase /2A27/

# Route everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
RewriteRule ^profile$ /2A27/pro/view/Front/profile.php [L]
    