RewriteEngine On
RewriteBase /2A27/

# Don't rewrite requests for files and directories that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]